@import url(https://db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo+Regular);
@import url(https://db.onlinewebfonts.com/c/a6ffc5d72a96b65159e710ea6d258ba4?family=Menlo+Bold);

body {
  margin: 0;
  padding: 0;
  font-family: "Menlo Regular", monospace;
  color: white;
  background: black;
  font-size: 3vw;
}
h1 {
  font-size: 9vw;
  font-family: "Menlo Bold", monospace;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
.spaen {
  font-size: 1vw;
  display: inline-block;
  text-align: center;
}
.folders {
  width: fit-content;
  margin: 1em auto;
}
[parent-folder] {
  color: mediumvioletred !important;
  margin-left: -1.205em;
}
.folder {
  margin-left: 1.205em;
}
a:not(.folder-name) {
  display: block;
  color: darkorchid;
  width: fit-content;
  text-decoration: none;
}
a.folder-name {
  text-decoration: none;
  color: dodgerblue;
}
.folder a {
  color: mediumaquamarine;
}
.folder .folder a {
  color: lime;
}
.folder .folder .folder a {
  color: greenyellow;
}
.folder .folder .folder .folder a {
  color: yellow;
}
.folder .folder .folder .folder .folder a {
  color: orange;
}
.folder .folder .folder .folder .folder .folder a {
  color: orangered;
}
.folder .folder .folder .folder .folder .folder .folder a {
  color: red;
}
a:hover {
  text-decoration: underline;
}

#volume-link {
  color: mediumvioletred;
}
.volume {
  margin-left: 1.205em;
}