:root {
  --width: 720px;
  --height: 480px;
  --bdrs: 72px;
  --dot-size: 18px;
}
.slider-container {
  max-width: var(--width);
  margin: 0 auto;
  overflow: hidden;
  border-radius: var(--bdrs);
  transition: background 0.5s ease-in-out;
  margin-top: 64px;
}
.slider {
  height: calc(var(--height) * 1);
  display: flex;
  transition: 0.5s;
  width: var(--width);
  /* height: var(--height); */
}
.slide {
  width: var(--width);
  height: var(--height);
  flex: 0 0 100%;
  min-width: 100%;
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #00000000;
  transition: transform 0.5s ease-in-out;
}
button {
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  outline: black solid 2px;
  border-radius: 4px;
}
button:first-child { margin-right: 6px;}
.slide-part { width: var(--width); height: var(--height); }
.dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(var(--dot-size) * 5);
  height: calc(var(--dot-size) * 1.5);
  margin: 24px auto 0;
}
.dot {
  width: var(--dot-size);
  height: var(--dot-size);
  background: black;
  border-radius: 50%;
  transition: all 250ms;
}
.dot:hover {
  transform: scale(1.5);
  transition: all 250ms;
  /* background: red; */
  cursor: pointer;
}
.dot.active { transform: scale(1.5); }
.dot.active:hover { cursor: default; }
.dot.active:nth-child(1) { background: red; }
.dot.active:nth-child(2) { background: blue; }
.dot.active:nth-child(3) { background: yellow; }