.modal{
  width:50%;
  height:50%;
  position:absolute;
  top:50%;
  left:50%;
  z-index:2;}
.modalWrap{
  background:white;
  width:100%;
  height:100%;
  position:relative;
  top:-50%;
  left:-50%;
  box-shadow:0 0 5px 5px white,0 0 10px 10px black;
  display:flex;
  flex-direction:column;
  justify-content:space-around;}
.modalText{text-align:center;font-size:24px;}
.wrap{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:80%;
  margin:0 auto;}
.invis{display:none;}
.confirm{font-size:6px;cursor:pointer;}
.cancel{font-size:128px;cursor:pointer;}
.fade{
  background:#00000080;
  position:absolute;
  top:-10%;
  left:-10%;
  width:175%;
  height:175%;
  z-index:1;}
.loading{
  background:#000;
  position:absolute;
  top:-10%;
  left:-10%;
  width:175%;
  height:175%;
  z-index:5;}