.images {
  position: relative;
  margin-top: 64px;
  margin-left: -16px;
}
.images > img {
  width: 500px;
  height: 500px;
  position: absolute;
  left: -500px;
  top: 0;
  transition: all 500ms cubic-bezier(.5,0,.5,1);
}
.images > img.anim {
  left: calc(50vw - 250px);
  transition: all 500ms cubic-bezier(.5,0,.5,1);
}
img.error {
  width: 100vw;
  height: 100vh;
  transform: scale(0);
  position: absolute;
  left: 0;
  top: 0;
}
img.error.anim {
  transform: scale(1);
}